# Ignore Quartus II backup files
*.bak

# Ignore Quartus II output & database files
db/
incremental_db/
db/
output_files/
cycloneii

# Ignore IntelliJ & Eclipse files
.idea
.metadata
*.rpt
qsim
Documentation/.texpadtmp
